<!-- <ul>
  <li>
    <a
      class="alfa"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      >Home</a
    >
  </li>
  <li>
    <a
      routerLink="/services"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      >Services</a
    >
  </li>
  <li>
    <a
      routerLink="/technologies"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      >Technologies</a
    >
  </li>
  <li>
    <a
      routerLink="/portfolio"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      >Portfolio</a
    >
  </li>
  <li>
    <a
      routerLink="/company"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      >Company</a
    >
  </li>
</ul> -->
