header{
    background-color: rgba(255, 255, 255, 0.99);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 5px 60px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 5px 60px;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    transition: top 0.3s;
}
header.visible {
    top: 0;
  }
.alt__header{
    height: 64px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alt__logo{
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
.alt__logo img{
    height: 100%;
    width: 100%;
}
.alt__nav{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alt__menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.alt__menuItems{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: 0 2%;
    flex-wrap: wrap;
    flex: 0 0 15%;
    position: relative;
    font-family: "SailecMedium" !important;
}
.alt__menuItems>a{
    font-size: 16px;
    color: #0e2b5c;
}
.alt__converesation{
    display: inline-block;
    width: 25px;
    height: 25px;
   }
.alt__converesation>img{
    width: 100%;
    height: 100%;
   }

.alt__contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}
.alt__contanctNo{
    color: #0e2b5c;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-family: "SailecMedium";
}
.alt__partnerWithUs{
    position: relative;
    flex: 0 0 17%;
}
.alt__partnerWithUs::before{
  content: "";
  display: block;
  width: 160px;
  height: 40px;
  position: absolute;
  top: 11px;
  left: 15px;
  border: 2px solid #00cdac;
  border-radius: 4px;
}

/* Home page styles */

